@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.App {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.profile-image {
  width: 130px;
  height: 130px;
  border-radius: 5%;
  margin-right: 20px;
  /* border: 2px solid #000; */
}

.header-text h1 {
  font-size: 24px;
  font-weight: 700; /* Bold */
  margin: 0;
  color: #222;
}

.header-text p {
  margin-top: 10px;
  font-weight: 400; /* Regular */
}

h2 {
  font-size: 30px;
  font-weight: 700; /* Bold */
  color: #222;
  margin-top: 40px;
  margin-bottom: 20px;
}

.experience-section {
  margin-bottom: 40px;
}

.experience-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.experience-company {
  width: 25%;
}

.project {
  width: 70%;
}

h3 {
  font-size: 22px;
  font-weight: 700; /* Bold */
  margin-bottom: 5px;
}

h4 {
  font-size: 20px;
  font-weight: 700; /* Bold */
  margin-top: 20px;
  margin-bottom: 5px;
}

.skills-section, .others-section {
  margin-bottom: 40px;
}

.skill, .other {
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}

p, ul li {
  font-weight: 400; /* Regular */
  font-size: 16px;
}
.no-underline {
  text-decoration: none;
  /* color: inherit;  */
}

.no-underline:hover {
  text-decoration: underline; 
}

.contact-list {
  list-style-type: none;
  padding-left: 0; 
}

.contact-list li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px; 
}

.contact-list li::before {
  content: "-";
  position: absolute;
  left: 0;
  color: #000;
}